<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178846177515-ouku3b4m9n2hq0819qsj9db5r04d1930.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178846177515-ouku3b4m9n2hq0819qsj9db5r04d1930</string>
	<key>API_KEY</key>
	<string>AIzaSyDldIxo9140bk5lnsyEIQRoO3hIg4pSNyU</string>
	<key>GCM_SENDER_ID</key>
	<string>178846177515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JSY.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-d7278</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-d7278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178846177515:ios:6f56a4eb87daed250b46ae</string>
</dict>
</plist>